# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore environment variables file
.env
.env.development
.env.production
# VSCode and JetBrains IDE settings (optional)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
.env.development
.env.production
